<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dudu.android.launcher">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NEWWORK_STATE" />
    <uses-permission android:name="dudu.permission.SET_PROP" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-feature
        android:name = "android.hardware.camera"/>
    <uses-feature
        android:name = "android.hardware.camera.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.microphone" />

    <application
        android:name=".LauncherApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">

        <!--
            debug key 6d9506f145dbf546da02076d89294390
        	正式key 476a2032389d1d702025e4183c74a51d
        	小慧key 8daa43bc94833f1d449658d6fef0cbf2
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="476a2032389d1d702025e4183c74a51d" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.LocationMapActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.NaviCustomActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TitleBar" />
        <activity
            android:name=".ui.activity.NaviBackActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.video.VideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.video.VideoListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.video.VideoPlayActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.WifiActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.ActivationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.SimpleHudActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.OBDCheckingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.NearbyRepairActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".ui.activity.GsensorChartActivity" />
        <activity
            android:name=".ui.activity.IpConfigActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.bluetooth.BtCallingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.bluetooth.BtInCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.bluetooth.BtDialActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.bluetooth.BtOutCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activity.CarCheckingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AiosBaseTheme"/>
        <activity
            android:name="com.dudu.aios.ui.activity.MainRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AiosBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity

            android:name="com.dudu.android.launcher.robbery.RobberyModeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.dudu.aios.ui.map.GaodeMapActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.dudu.aios.ui.map.NavigationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <service android:name=".service.BluetoothService" />
        <service android:name=".service.FloatBackButtonService" />
        <service android:name=".service.MonitorService" />
        <service android:name=".service.MainService" />
        <service android:name="com.amap.api.location.APSService" />

        <receiver android:name=".broadcast.SimCardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.WeatherAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".utils.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BtCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.outcall" />
                <action android:name="android.intent.action.incall" />
                <action android:name="android.intent.action.connect" />
                <action android:name="android.intent.action.end" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MessagePushReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dudu.android.launcher.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100181012" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AAC42XZD787T" />

        <activity android:name="com.dudu.aios.ui.activity.VehicleAnimationActivity"></activity>
    </application>

</manifest>
